<div class="main">
  <div class="row clipped">
    <h1> {{link-to "Andrew Reid" "index"}}</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-6 large-6 small-centered columns text-center">
      <div class="row">
        <div class="small-3 columns sub-heading">
          <h2>{{link-to "About" "about"}}</h2>
        </div>
        <div class="small-3 columns sub-heading">
          <h2>{{link-to "Projects" "projects"}}</h2>
        </div>
        <div class="small-3 columns sub-heading">
          <h2>{{link-to "Contact" "contact"}}</h2>
        </div>
        <div class="small-3 columns sub-heading">
          <h2><a href="http://sareid.github.io/" target="_blank">Blog</a></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-7 small-centered columns text-center">
      {{outlet}}
    </div>
  </div>
</div>

