<div class="row">
  <div class="small-12 medium-8 medium-centered columns text-center icons">
    {{fa-icon "github"}}<br>
    {{fa-icon "camera"}}<br>
    {{fa-icon "camera"}}<br>
    {{fa-icon "camera"}}
  </div>
</div>
{{outlet}}
