<div class="row">
  <div class="small-12 medium-8 medium-centered columns text-center projects">
    {{#each model as |project|}}
        <p>
            <a href="{{project.github_url}}">{{project.title}}</a>: {{project.description}}
            {{#if project.demo_url}}
                <a href="{{project.demo_url}}">Demo.</a>
            {{/if}}
            {{#if project.blog_url}}
                <a href="{{project.blog_url}}">Related blog post.</a>
            {{/if}}
            {{#if project.github_url_2}}
                <a href="{{project.github_url_2}}">API on Github.</a>
            {{/if}}
        </p>
    {{/each}}
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 medium-centered columns text-center">
    <h2>⇩</h2>
  </div>
</div>
{{outlet}}
